.card-container {
    .card-body {
        background: url('../../assets/bg5.jpg');
        padding: 5rem 1rem 1rem 1rem;
        border-radius: 12vmin 2vmin;
        box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    }
}
