$soft-darkii: #29232e;
$soft-darkiv: #212529;

.reg-button {
    appearance: none;
    background-color: #fff;
    border: 2px solid #4f9ebd;
    border-radius: 10vmin 1vmin;
    box-sizing: border-box;
    color: $soft-darkiv;
    cursor: pointer;
    display: inline-block;
    font-family: Archivo;
    font-size: 15px;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    // min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    // width: 100%;
    will-change: transform;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 10px;
}

.reg-button:disabled {
    pointer-events: none;
}

.reg-button:hover {
    box-shadow: 2px 8px 1px rgba(0, 0, 0, 0.1);

    transform: translateY(-2px);
}

.button-27:active {
    box-shadow: none;
    transform: translateY(0);
}
.reg-active {
    background-color: #4f9ebd;
    color: #fff;
    box-shadow: 2px 8px 1px rgba(0, 0, 0, 0.1);
}
