$primary: rgba(54, 57, 61, 1);
$softDark: #29232e;
.hero-container {
    background-color: #6c7983;
    background-color: #4f9ebf;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .hero-body {
        padding: 5rem 1rem 2rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        img {
            width: 250px;
            height: 250px;
        }

        .text {
            // position: absolute;
            margin: -2rem 0 0rem 0;
            h1 {
                font-size: 3.2rem;
                line-height: 0.85;
                color: $primary;
                color: #29232e;
                color: #333333;
                font-family: Archivo-Bold;
            }

            h1:nth-of-type(3) {
                letter-spacing: 8px;
            }
            p {
                font-size: larger;
                font-family: Archivo-SBold;
                color: #333333;
            }
        }
    }
}
.elementor-shape-fill {
    fill: #4f9ebf;
}
.bg {
    // background: linear-gradient(-131deg, #79233c, #79233c, #79233c);
    background: #f1ece8;
}
