$primary: rgba(54, 57, 61, 1);
$main: hsl(228deg 25% 19%);
$secondary: #4f9ebf;
.sidebar {
    height: 100vh;
    width: 100%;
    background-color: $main;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0%;
    transition: 0.6s ease-in-out;
    .close {
        position: absolute;
        top: 3.6%;
        left: 8%;
        cursor: pointer;
        svg {
            font-size: 25px;
            color: $secondary;
        }
        &:hover {
            cursor: pointer;
            border-radius: 100%;
        }
    }
}

.sidebar__list {
    height: auto;
    width: 100%;
    padding: 5rem 0 0 0;
    margin: 3rem 0;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.sidebar__list .active {
    background-color: $secondary;
    border: 1px solid $secondary;
}

.sidebar__item {
    color: #242d3e;
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 0.01em;
    list-style-type: none;
    border: 2px solid $secondary;
    border-radius: 10vmin 1vmin;
    padding: 1rem 2rem;
    width: 260px;
    margin-bottom: 20px;
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0 25%;
        gap: 0.4rem;
    }

    .sidebar__title {
        line-height: 22px;
        color: #e8eef4;
        font : {
            family: Archivo-Med;
            size: 17px;
        }
    }
}
