.textarea {
    width: 90%;
    margin: 0.2rem 0;
    background-color: whitesmoke;
    border: 2px solid #4f9ebd;
    border-radius: 10vmin 0;
    font-family: Archivo;
    padding: 1rem 2rem 4rem 1.7rem;
    font-size: 17px;
    color: #55595c;
    outline: none;
}
