.developers-container {
    margin: 0 0 0.5rem 0;
    .developers-body {
        .search-box {
        }
        .developers-profiles {
            margin: 1rem 0;
            padding: 0.6rem;
        }
        .quick-actions {
            display: flex !important;
            padding: 1rem 1rem 0 1rem;
        }
    }
}
