.comment-form-container {
    .comment-form-body {
        display: flex;
        // padding: 0.3rem 1rem 0.3rem 2rem;
        // padding: 0.3rem 1rem;

        gap: 0.5rem;
        align-items: center;
        align-items: flex-start;
        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }

        .actions {
            display: flex;
            align-items: center;
            padding: 0.4rem 0;
            justify-content: space-between;
            button {
                padding: 0.2rem 1rem;
                outline: none;
                border: 1px solid blue;
                border-radius: 10vmin 1vmin;
            }
        }
    }
}
